:root {
  --animation-name: example;
  --animation-duration: 1s;
  --animation-iteration-count: infinite;
}

html,
body {
  padding: 0;
  margin: 0;
}

.p-gameover {
  font-family: "VT323";
  font-size: 8em;
  text-align: center;
  animation-name: var(--animation-name);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.gameover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes example {
  0% {
    color: #800000; /* темно-красный */
    text-shadow: 0 0 20px #8B0000; /* темно-красный */
  }
  25% {
    color: #8B0000; /* темно-красный */
    text-shadow: 2px 2px 2px #800000; /* темно-красный */
    transform: translate(-2px, 1px);
  }
  40% {
    color: #800000; /* темно-красный */
    text-shadow: none;
    transform: translate(0, 0);
  }
  50% {
    color: #8B0000; /* темно-красный */
    text-shadow: 5px 5px 2px #00008B, -5px -5px 2px #8B0000; /* синий и темно-красный */
    transform: translate(0px, 5px);
  }
  70% {
    color: #800000; /* темно-красный */
    text-shadow: none;
    transform: translate(0, 0);
  }
  80% {
    color: #800000; /* темно-красный */
    text-shadow: 0 0 20px #8B0000; /* темно-красный */
    transform: translate(-2px, 1px);
  }
  100% {
    color: #800000; /* темно-красный */
    text-shadow: none;
  }
}

